# Database libraries
sqlalchemy
alembic
psycopg2
GeoAlchemy2

# Data manipulation / analysis libraries
pandas

# Geo libraries
shapely
rasterio

# Tasks and workflows
# airflow[postgres]

# CLI
click

# Logging
colorlog
