# Database libraries
sqlalchemy
alembic
psycopg2
GeoAlchemy2

# Data manipulation / analysis libraries
pandas

# Geo libraries
shapely
rasterio
geopandas

# Tasks and workflows
# airflow[postgres]

# CLI
click

# Logging
colorlog

# Interaction with R
rpy2

# Doc
sphinx
