# Database libraries
sqlalchemy
alembic
psycopg2
GeoAlchemy2

# Data manipulation / analysis libraries
numpy
pandas
cubes

# Geo libraries
shapely
rasterio
geopandas

# CLI
click

# Logging
colorlog

# Interaction with R
rpy2
tzlocal

# Doc
sphinx
